{"openapi":"3.1.0","info":{"title":"OpenAI API","description":"The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.","version":"2.3.0","termsOfService":"https://openai.com/policies/terms-of-use","contact":{"name":"OpenAI Support","url":"https://help.openai.com/"},"license":{"name":"MIT","url":"https://github.com/openai/openai-openapi/blob/master/LICENSE"}},"servers":[{"url":"https://api.openai.com/v1"}],"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"Assistants","description":"Build Assistants that can call models and use tools."},{"name":"Audio","description":"Turn audio into text or text into audio."},{"name":"Chat","description":"Given a list of messages comprising a conversation, the model will return a response."},{"name":"Conversations","description":"Manage conversations and conversation items."},{"name":"Completions","description":"Given a prompt, the model will return one or more predicted completions, and can also return the probabilities of alternative tokens at each position."},{"name":"Embeddings","description":"Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms."},{"name":"Evals","description":"Manage and run evals in the OpenAI platform."},{"name":"Fine-tuning","description":"Manage fine-tuning jobs to tailor a model to your specific training data."},{"name":"Graders","description":"Manage and run graders in the OpenAI platform."},{"name":"Batch","description":"Create large batches of API requests to run asynchronously."},{"name":"Files","description":"Files are used to upload documents that can be used with features like Assistants and Fine-tuning."},{"name":"Uploads","description":"Use Uploads to upload large files in multiple parts."},{"name":"Images","description":"Given a prompt and/or an input image, the model will generate a new image."},{"name":"Models","description":"List and describe the various models available in the API."},{"name":"Moderations","description":"Given text and/or image inputs, classifies if those inputs are potentially harmful."},{"name":"Audit Logs","description":"List user actions and configuration changes within this organization."}],"paths":{"/assistants":{"get":{"operationId":"listAssistants","tags":["Assistants"],"summary":"Returns a list of assistants.","deprecated":true,"parameters":[{"name":"limit","in":"query","description":"A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n","required":false,"schema":{"type":"integer","default":20}},{"name":"order","in":"query","description":"Sort order by the \u0060created_at\u0060 timestamp of the objects. \u0060asc\u0060 for ascending order and \u0060desc\u0060 for descending order.\n","schema":{"type":"string","default":"desc","enum":["asc","desc"]}},{"name":"after","in":"query","description":"A cursor for use in pagination. \u0060after\u0060 is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n","schema":{"type":"string"}},{"name":"before","in":"query","description":"A cursor for use in pagination. \u0060before\u0060 is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListAssistantsResponse"}}}}},"x-oaiMeta":{"name":"List assistants","group":"assistants","examples":{"request":{"curl":"curl \u0022https://api.openai.com/v1/assistants?order=desc\u0026limit=20\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022OpenAI-Beta: assistants=v2\u0022\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\npage = client.beta.assistants.list()\npage = page.data[0]\nprint(page.id)","javascript":"import OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const myAssistants = await openai.beta.assistants.list({\n    order: \u0022desc\u0022,\n    limit: \u002220\u0022,\n  });\n\n  console.log(myAssistants.data);\n}\n\nmain();","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\n// Automatically fetches more pages as needed.\nfor await (const assistant of client.beta.assistants.list()) {\n  console.log(assistant.id);\n}","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  page, err := client.Beta.Assistants.List(context.TODO(), openai.BetaAssistantListParams{})\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, page)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.beta.assistants.AssistantListPage;\nimport com.openai.models.beta.assistants.AssistantListParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        AssistantListPage page = client.beta().assistants().list();\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\npage = openai.beta.assistants.list\n\nputs(page)"},"response":"{\n  \u0022object\u0022: \u0022list\u0022,\n  \u0022data\u0022: [\n    {\n      \u0022id\u0022: \u0022asst_abc123\u0022,\n      \u0022object\u0022: \u0022assistant\u0022,\n      \u0022created_at\u0022: 1698982736,\n      \u0022name\u0022: \u0022Coding Tutor\u0022,\n      \u0022description\u0022: null,\n      \u0022model\u0022: \u0022gpt-4o\u0022,\n      \u0022instructions\u0022: \u0022You are a helpful assistant designed to make me better at coding!\u0022,\n      \u0022tools\u0022: [],\n      \u0022tool_resources\u0022: {},\n      \u0022metadata\u0022: {},\n      \u0022top_p\u0022: 1.0,\n      \u0022temperature\u0022: 1.0,\n      \u0022response_format\u0022: \u0022auto\u0022\n    },\n    {\n      \u0022id\u0022: \u0022asst_abc456\u0022,\n      \u0022object\u0022: \u0022assistant\u0022,\n      \u0022created_at\u0022: 1698982718,\n      \u0022name\u0022: \u0022My Assistant\u0022,\n      \u0022description\u0022: null,\n      \u0022model\u0022: \u0022gpt-4o\u0022,\n      \u0022instructions\u0022: \u0022You are a helpful assistant designed to make me better at coding!\u0022,\n      \u0022tools\u0022: [],\n      \u0022tool_resources\u0022: {},\n      \u0022metadata\u0022: {},\n      \u0022top_p\u0022: 1.0,\n      \u0022temperature\u0022: 1.0,\n      \u0022response_format\u0022: \u0022auto\u0022\n    },\n    {\n      \u0022id\u0022: \u0022asst_abc789\u0022,\n      \u0022object\u0022: \u0022assistant\u0022,\n      \u0022created_at\u0022: 1698982643,\n      \u0022name\u0022: null,\n      \u0022description\u0022: null,\n      \u0022model\u0022: \u0022gpt-4o\u0022,\n      \u0022instructions\u0022: null,\n      \u0022tools\u0022: [],\n      \u0022tool_resources\u0022: {},\n      \u0022metadata\u0022: {},\n      \u0022top_p\u0022: 1.0,\n      \u0022temperature\u0022: 1.0,\n      \u0022response_format\u0022: \u0022auto\u0022\n    }\n  ],\n  \u0022first_id\u0022: \u0022asst_abc123\u0022,\n  \u0022last_id\u0022: \u0022asst_abc789\u0022,\n  \u0022has_more\u0022: false\n}\n"}}},"post":{"operationId":"createAssistant","tags":["Assistants"],"summary":"Create an assistant with a model and instructions.","deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAssistantRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantObject"}}}}},"x-oaiMeta":{"name":"Create assistant","group":"assistants","examples":[{"title":"Code Interpreter","request":{"curl":"curl \u0022https://api.openai.com/v1/assistants\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022OpenAI-Beta: assistants=v2\u0022 \\\n  -d \u0027{\n    \u0022instructions\u0022: \u0022You are a personal math tutor. When asked a question, write and run Python code to answer the question.\u0022,\n    \u0022name\u0022: \u0022Math Tutor\u0022,\n    \u0022tools\u0022: [{\u0022type\u0022: \u0022code_interpreter\u0022}],\n    \u0022model\u0022: \u0022gpt-4o\u0022\n  }\u0027\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nassistant = client.beta.assistants.create(\n    model=\u0022gpt-4o\u0022,\n)\nprint(assistant.id)","javascript":"import OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const myAssistant = await openai.beta.assistants.create({\n    instructions:\n      \u0022You are a personal math tutor. When asked a question, write and run Python code to answer the question.\u0022,\n    name: \u0022Math Tutor\u0022,\n    tools: [{ type: \u0022code_interpreter\u0022 }],\n    model: \u0022gpt-4o\u0022,\n  });\n\n  console.log(myAssistant);\n}\n\nmain();","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst assistant = await client.beta.assistants.create({ model: \u0027gpt-4o\u0027 });\n\nconsole.log(assistant.id);","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n  \u0022github.com/openai/openai-go/shared\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  assistant, err := client.Beta.Assistants.New(context.TODO(), openai.BetaAssistantNewParams{\n    Model: shared.ChatModelGPT4o,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, assistant.ID)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.ChatModel;\nimport com.openai.models.beta.assistants.Assistant;\nimport com.openai.models.beta.assistants.AssistantCreateParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        AssistantCreateParams params = AssistantCreateParams.builder()\n            .model(ChatModel.GPT_4O)\n            .build();\n        Assistant assistant = client.beta().assistants().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\nassistant = openai.beta.assistants.create(model: :\u0022gpt-4o\u0022)\n\nputs(assistant)"},"response":"{\n  \u0022id\u0022: \u0022asst_abc123\u0022,\n  \u0022object\u0022: \u0022assistant\u0022,\n  \u0022created_at\u0022: 1698984975,\n  \u0022name\u0022: \u0022Math Tutor\u0022,\n  \u0022description\u0022: null,\n  \u0022model\u0022: \u0022gpt-4o\u0022,\n  \u0022instructions\u0022: \u0022You are a personal math tutor. When asked a question, write and run Python code to answer the question.\u0022,\n  \u0022tools\u0022: [\n    {\n      \u0022type\u0022: \u0022code_interpreter\u0022\n    }\n  ],\n  \u0022metadata\u0022: {},\n  \u0022top_p\u0022: 1.0,\n  \u0022temperature\u0022: 1.0,\n  \u0022response_format\u0022: \u0022auto\u0022\n}\n"},{"title":"Files","request":{"curl":"curl https://api.openai.com/v1/assistants \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022OpenAI-Beta: assistants=v2\u0022 \\\n  -d \u0027{\n    \u0022instructions\u0022: \u0022You are an HR bot, and you have access to files to answer employee questions about company policies.\u0022,\n    \u0022tools\u0022: [{\u0022type\u0022: \u0022file_search\u0022}],\n    \u0022tool_resources\u0022: {\u0022file_search\u0022: {\u0022vector_store_ids\u0022: [\u0022vs_123\u0022]}},\n    \u0022model\u0022: \u0022gpt-4o\u0022\n  }\u0027\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nassistant = client.beta.assistants.create(\n    model=\u0022gpt-4o\u0022,\n)\nprint(assistant.id)","javascript":"import OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const myAssistant = await openai.beta.assistants.create({\n    instructions:\n      \u0022You are an HR bot, and you have access to files to answer employee questions about company policies.\u0022,\n    name: \u0022HR Helper\u0022,\n    tools: [{ type: \u0022file_search\u0022 }],\n    tool_resources: {\n      file_search: {\n        vector_store_ids: [\u0022vs_123\u0022]\n      }\n    },\n    model: \u0022gpt-4o\u0022\n  });\n\n  console.log(myAssistant);\n}\n\nmain();","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst assistant = await client.beta.assistants.create({ model: \u0027gpt-4o\u0027 });\n\nconsole.log(assistant.id);","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n  \u0022github.com/openai/openai-go/shared\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  assistant, err := client.Beta.Assistants.New(context.TODO(), openai.BetaAssistantNewParams{\n    Model: shared.ChatModelGPT4o,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, assistant.ID)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.ChatModel;\nimport com.openai.models.beta.assistants.Assistant;\nimport com.openai.models.beta.assistants.AssistantCreateParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        AssistantCreateParams params = AssistantCreateParams.builder()\n            .model(ChatModel.GPT_4O)\n            .build();\n        Assistant assistant = client.beta().assistants().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\nassistant = openai.beta.assistants.create(model: :\u0022gpt-4o\u0022)\n\nputs(assistant)"},"response":"{\n  \u0022id\u0022: \u0022asst_abc123\u0022,\n  \u0022object\u0022: \u0022assistant\u0022,\n  \u0022created_at\u0022: 1699009403,\n  \u0022name\u0022: \u0022HR Helper\u0022,\n  \u0022description\u0022: null,\n  \u0022model\u0022: \u0022gpt-4o\u0022,\n  \u0022instructions\u0022: \u0022You are an HR bot, and you have access to files to answer employee questions about company policies.\u0022,\n  \u0022tools\u0022: [\n    {\n      \u0022type\u0022: \u0022file_search\u0022\n    }\n  ],\n  \u0022tool_resources\u0022: {\n    \u0022file_search\u0022: {\n      \u0022vector_store_ids\u0022: [\u0022vs_123\u0022]\n    }\n  },\n  \u0022metadata\u0022: {},\n  \u0022top_p\u0022: 1.0,\n  \u0022temperature\u0022: 1.0,\n  \u0022response_format\u0022: \u0022auto\u0022\n}\n"}]}}},"/assistants/{assistant_id}":{"get":{"operationId":"getAssistant","tags":["Assistants"],"summary":"Retrieves an assistant.","deprecated":true,"parameters":[{"in":"path","name":"assistant_id","required":true,"schema":{"type":"string"},"description":"The ID of the assistant to retrieve."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantObject"}}}}},"x-oaiMeta":{"name":"Retrieve assistant","group":"assistants","examples":{"request":{"curl":"curl https://api.openai.com/v1/assistants/asst_abc123 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022OpenAI-Beta: assistants=v2\u0022\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nassistant = client.beta.assistants.retrieve(\n    \u0022assistant_id\u0022,\n)\nprint(assistant.id)","javascript":"import OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const myAssistant = await openai.beta.assistants.retrieve(\n    \u0022asst_abc123\u0022\n  );\n\n  console.log(myAssistant);\n}\n\nmain();","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst assistant = await client.beta.assistants.retrieve(\u0027assistant_id\u0027);\n\nconsole.log(assistant.id);","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  assistant, err := client.Beta.Assistants.Get(context.TODO(), \u0022assistant_id\u0022)\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, assistant.ID)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.beta.assistants.Assistant;\nimport com.openai.models.beta.assistants.AssistantRetrieveParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        Assistant assistant = client.beta().assistants().retrieve(\u0022assistant_id\u0022);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\nassistant = openai.beta.assistants.retrieve(\u0022assistant_id\u0022)\n\nputs(assistant)"},"response":"{\n  \u0022id\u0022: \u0022asst_abc123\u0022,\n  \u0022object\u0022: \u0022assistant\u0022,\n  \u0022created_at\u0022: 1699009709,\n  \u0022name\u0022: \u0022HR Helper\u0022,\n  \u0022description\u0022: null,\n  \u0022model\u0022: \u0022gpt-4o\u0022,\n  \u0022instructions\u0022: \u0022You are an HR bot, and you have access to files to answer employee questions about company policies.\u0022,\n  \u0022tools\u0022: [\n    {\n      \u0022type\u0022: \u0022file_search\u0022\n    }\n  ],\n  \u0022metadata\u0022: {},\n  \u0022top_p\u0022: 1.0,\n  \u0022temperature\u0022: 1.0,\n  \u0022response_format\u0022: \u0022auto\u0022\n}\n"}}},"post":{"operationId":"modifyAssistant","tags":["Assistants"],"summary":"Modifies an assistant.","deprecated":true,"parameters":[{"in":"path","name":"assistant_id","required":true,"schema":{"type":"string"},"description":"The ID of the assistant to modify."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyAssistantRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantObject"}}}}},"x-oaiMeta":{"name":"Modify assistant","group":"assistants","examples":{"request":{"curl":"curl https://api.openai.com/v1/assistants/asst_abc123 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022OpenAI-Beta: assistants=v2\u0022 \\\n  -d \u0027{\n      \u0022instructions\u0022: \u0022You are an HR bot, and you have access to files to answer employee questions about company policies. Always response with info from either of the files.\u0022,\n      \u0022tools\u0022: [{\u0022type\u0022: \u0022file_search\u0022}],\n      \u0022model\u0022: \u0022gpt-4o\u0022\n    }\u0027\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nassistant = client.beta.assistants.update(\n    assistant_id=\u0022assistant_id\u0022,\n)\nprint(assistant.id)","javascript":"import OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const myUpdatedAssistant = await openai.beta.assistants.update(\n    \u0022asst_abc123\u0022,\n    {\n      instructions:\n        \u0022You are an HR bot, and you have access to files to answer employee questions about company policies. Always response with info from either of the files.\u0022,\n      name: \u0022HR Helper\u0022,\n      tools: [{ type: \u0022file_search\u0022 }],\n      model: \u0022gpt-4o\u0022\n    }\n  );\n\n  console.log(myUpdatedAssistant);\n}\n\nmain();","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst assistant = await client.beta.assistants.update(\u0027assistant_id\u0027);\n\nconsole.log(assistant.id);","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  assistant, err := client.Beta.Assistants.Update(\n    context.TODO(),\n    \u0022assistant_id\u0022,\n    openai.BetaAssistantUpdateParams{},\n  )\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, assistant.ID)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.beta.assistants.Assistant;\nimport com.openai.models.beta.assistants.AssistantUpdateParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        Assistant assistant = client.beta().assistants().update(\u0022assistant_id\u0022);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\nassistant = openai.beta.assistants.update(\u0022assistant_id\u0022)\n\nputs(assistant)"},"response":"{\n  \u0022id\u0022: \u0022asst_123\u0022,\n  \u0022object\u0022: \u0022assistant\u0022,\n  \u0022created_at\u0022: 1699009709,\n  \u0022name\u0022: \u0022HR Helper\u0022,\n  \u0022description\u0022: null,\n  \u0022model\u0022: \u0022gpt-4o\u0022,\n  \u0022instructions\u0022: \u0022You are an HR bot, and you have access to files to answer employee questions about company policies. Always response with info from either of the files.\u0022,\n  \u0022tools\u0022: [\n    {\n      \u0022type\u0022: \u0022file_search\u0022\n    }\n  ],\n  \u0022tool_resources\u0022: {\n    \u0022file_search\u0022: {\n      \u0022vector_store_ids\u0022: []\n    }\n  },\n  \u0022metadata\u0022: {},\n  \u0022top_p\u0022: 1.0,\n  \u0022temperature\u0022: 1.0,\n  \u0022response_format\u0022: \u0022auto\u0022\n}\n"}}},"delete":{"operationId":"deleteAssistant","tags":["Assistants"],"summary":"Delete an assistant.","deprecated":true,"parameters":[{"in":"path","name":"assistant_id","required":true,"schema":{"type":"string"},"description":"The ID of the assistant to delete."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAssistantResponse"}}}}},"x-oaiMeta":{"name":"Delete assistant","group":"assistants","examples":{"request":{"curl":"curl https://api.openai.com/v1/assistants/asst_abc123 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022OpenAI-Beta: assistants=v2\u0022 \\\n  -X DELETE\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nassistant_deleted = client.beta.assistants.delete(\n    \u0022assistant_id\u0022,\n)\nprint(assistant_deleted.id)","javascript":"import OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const response = await openai.beta.assistants.delete(\u0022asst_abc123\u0022);\n\n  console.log(response);\n}\nmain();","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst assistantDeleted = await client.beta.assistants.delete(\u0027assistant_id\u0027);\n\nconsole.log(assistantDeleted.id);","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  assistantDeleted, err := client.Beta.Assistants.Delete(context.TODO(), \u0022assistant_id\u0022)\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, assistantDeleted.ID)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.beta.assistants.AssistantDeleteParams;\nimport com.openai.models.beta.assistants.AssistantDeleted;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        AssistantDeleted assistantDeleted = client.beta().assistants().delete(\u0022assistant_id\u0022);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\nassistant_deleted = openai.beta.assistants.delete(\u0022assistant_id\u0022)\n\nputs(assistant_deleted)"},"response":"{\n  \u0022id\u0022: \u0022asst_abc123\u0022,\n  \u0022object\u0022: \u0022assistant.deleted\u0022,\n  \u0022deleted\u0022: true\n}\n"}}}},"/audio/speech":{"post":{"operationId":"createSpeech","tags":["Audio"],"summary":"Generates audio from the input text.\n\nReturns the audio file content, or a stream of audio events.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSpeechRequest"}}}},"responses":{"200":{"description":"OK","headers":{"Transfer-Encoding":{"schema":{"type":"string"},"description":"chunked"}},"content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"text/event-stream":{"schema":{"$ref":"#/components/schemas/CreateSpeechResponseStreamEvent"}}}}},"x-oaiMeta":{"name":"Create speech","group":"audio","examples":[{"title":"Default","request":{"curl":"curl https://api.openai.com/v1/audio/speech \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -d \u0027{\n    \u0022model\u0022: \u0022gpt-4o-mini-tts\u0022,\n    \u0022input\u0022: \u0022The quick brown fox jumped over the lazy dog.\u0022,\n    \u0022voice\u0022: \u0022alloy\u0022\n  }\u0027 \\\n  --output speech.mp3\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nspeech = client.audio.speech.create(\n    input=\u0022input\u0022,\n    model=\u0022tts-1\u0022,\n    voice=\u0022alloy\u0022,\n)\nprint(speech)\ncontent = speech.read()\nprint(content)","javascript":"import fs from \u0022fs\u0022;\nimport path from \u0022path\u0022;\nimport OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nconst speechFile = path.resolve(\u0022./speech.mp3\u0022);\n\nasync function main() {\n  const mp3 = await openai.audio.speech.create({\n    model: \u0022gpt-4o-mini-tts\u0022,\n    voice: \u0022alloy\u0022,\n    input: \u0022Today is a wonderful day to build something people love!\u0022,\n  });\n  console.log(speechFile);\n  const buffer = Buffer.from(await mp3.arrayBuffer());\n  await fs.promises.writeFile(speechFile, buffer);\n}\nmain();\n","csharp":"using System;\nusing System.IO;\n\nusing OpenAI.Audio;\n\nAudioClient client = new(\n    model: \u0022gpt-4o-mini-tts\u0022,\n    apiKey: Environment.GetEnvironmentVariable(\u0022OPENAI_API_KEY\u0022)\n);\n\nBinaryData speech = client.GenerateSpeech(\n    text: \u0022The quick brown fox jumped over the lazy dog.\u0022,\n    voice: GeneratedSpeechVoice.Alloy\n);\n\nusing FileStream stream = File.OpenWrite(\u0022speech.mp3\u0022);\nspeech.ToStream().CopyTo(stream);\n","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst speech = await client.audio.speech.create({\n  input: \u0027input\u0027,\n  model: \u0027tts-1\u0027,\n  voice: \u0027alloy\u0027,\n});\n\nconsole.log(speech);\n\nconst content = await speech.blob();\nconsole.log(content);","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  speech, err := client.Audio.Speech.New(context.TODO(), openai.AudioSpeechNewParams{\n    Input: \u0022input\u0022,\n    Model: openai.SpeechModelTTS1,\n    Voice: openai.AudioSpeechNewParamsVoiceUnion{\n      OfAudioSpeechNewsVoiceString2: openai.String(\u0022alloy\u0022),\n    },\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, speech)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.core.http.HttpResponse;\nimport com.openai.models.audio.speech.SpeechCreateParams;\nimport com.openai.models.audio.speech.SpeechModel;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        SpeechCreateParams params = SpeechCreateParams.builder()\n            .input(\u0022input\u0022)\n            .model(SpeechModel.TTS_1)\n            .voice(SpeechCreateParams.Voice.UnionMember1.ALLOY)\n            .build();\n        HttpResponse speech = client.audio().speech().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\nspeech = openai.audio.speech.create(input: \u0022input\u0022, model: :\u0022tts-1\u0022, voice: :alloy)\n\nputs(speech)"}},{"title":"SSE Stream Format","request":{"curl":"curl https://api.openai.com/v1/audio/speech \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -d \u0027{\n    \u0022model\u0022: \u0022gpt-4o-mini-tts\u0022,\n    \u0022input\u0022: \u0022The quick brown fox jumped over the lazy dog.\u0022,\n    \u0022voice\u0022: \u0022alloy\u0022,\n    \u0022stream_format\u0022: \u0022sse\u0022\n  }\u0027\n","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst speech = await client.audio.speech.create({\n  input: \u0027input\u0027,\n  model: \u0027tts-1\u0027,\n  voice: \u0027alloy\u0027,\n});\n\nconsole.log(speech);\n\nconst content = await speech.blob();\nconsole.log(content);","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nspeech = client.audio.speech.create(\n    input=\u0022input\u0022,\n    model=\u0022tts-1\u0022,\n    voice=\u0022alloy\u0022,\n)\nprint(speech)\ncontent = speech.read()\nprint(content)","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  speech, err := client.Audio.Speech.New(context.TODO(), openai.AudioSpeechNewParams{\n    Input: \u0022input\u0022,\n    Model: openai.SpeechModelTTS1,\n    Voice: openai.AudioSpeechNewParamsVoiceUnion{\n      OfAudioSpeechNewsVoiceString2: openai.String(\u0022alloy\u0022),\n    },\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, speech)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.core.http.HttpResponse;\nimport com.openai.models.audio.speech.SpeechCreateParams;\nimport com.openai.models.audio.speech.SpeechModel;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        SpeechCreateParams params = SpeechCreateParams.builder()\n            .input(\u0022input\u0022)\n            .model(SpeechModel.TTS_1)\n            .voice(SpeechCreateParams.Voice.UnionMember1.ALLOY)\n            .build();\n        HttpResponse speech = client.audio().speech().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\nspeech = openai.audio.speech.create(input: \u0022input\u0022, model: :\u0022tts-1\u0022, voice: :alloy)\n\nputs(speech)"}}]}}},"/audio/transcriptions":{"post":{"operationId":"createTranscription","tags":["Audio"],"summary":"Transcribes audio into the input language.\n\nReturns a transcription object in \u0060json\u0060, \u0060diarized_json\u0060, or \u0060verbose_json\u0060\nformat, or a stream of transcript events.\n","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateTranscriptionRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateTranscriptionResponseJson"},{"$ref":"#/components/schemas/CreateTranscriptionResponseDiarizedJson"},{"$ref":"#/components/schemas/CreateTranscriptionResponseVerboseJson"}]}},"text/event-stream":{"schema":{"$ref":"#/components/schemas/CreateTranscriptionResponseStreamEvent"}}}}},"x-oaiMeta":{"name":"Create transcription","group":"audio","examples":[{"title":"Default","request":{"curl":"curl https://api.openai.com/v1/audio/transcriptions \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: multipart/form-data\u0022 \\\n  -F file=\u0022@/path/to/file/audio.mp3\u0022 \\\n  -F model=\u0022gpt-4o-transcribe\u0022\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nfor transcription in client.audio.transcriptions.create(\n    file=b\u0022Example data\u0022,\n    model=\u0022gpt-4o-transcribe\u0022,\n):\n  print(transcription)","javascript":"import fs from \u0022fs\u0022;\nimport OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const transcription = await openai.audio.transcriptions.create({\n    file: fs.createReadStream(\u0022audio.mp3\u0022),\n    model: \u0022gpt-4o-transcribe\u0022,\n  });\n\n  console.log(transcription.text);\n}\nmain();\n","csharp":"using System;\n\nusing OpenAI.Audio;\nstring audioFilePath = \u0022audio.mp3\u0022;\n\nAudioClient client = new(\n    model: \u0022gpt-4o-transcribe\u0022,\n    apiKey: Environment.GetEnvironmentVariable(\u0022OPENAI_API_KEY\u0022)\n);\n\nAudioTranscription transcription = client.TranscribeAudio(audioFilePath);\n\nConsole.WriteLine($\u0022{transcription.Text}\u0022);\n","node.js":"import fs from \u0027fs\u0027;\nimport OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst transcription = await client.audio.transcriptions.create({\n  file: fs.createReadStream(\u0027speech.mp3\u0027),\n  model: \u0027gpt-4o-transcribe\u0027,\n});\n\nconsole.log(transcription);","go":"package main\n\nimport (\n  \u0022bytes\u0022\n  \u0022context\u0022\n  \u0022fmt\u0022\n  \u0022io\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{\n    File:  io.Reader(bytes.NewBuffer([]byte(\u0022Example data\u0022))),\n    Model: openai.AudioModelGPT4oTranscribe,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, transcription)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.audio.AudioModel;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateParams;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateResponse;\nimport java.io.ByteArrayInputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        TranscriptionCreateParams params = TranscriptionCreateParams.builder()\n            .file(new ByteArrayInputStream(\u0022Example data\u0022.getBytes()))\n            .model(AudioModel.GPT_4O_TRANSCRIBE)\n            .build();\n        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\ntranscription = openai.audio.transcriptions.create(file: StringIO.new(\u0022Example data\u0022), model: :\u0022gpt-4o-transcribe\u0022)\n\nputs(transcription)"},"response":"{\n  \u0022text\u0022: \u0022Imagine the wildest idea that you\u0027ve ever had, and you\u0027re curious about how it might scale to something that\u0027s a 100, a 1,000 times bigger. This is a place where you can get to do that.\u0022,\n  \u0022usage\u0022: {\n    \u0022type\u0022: \u0022tokens\u0022,\n    \u0022input_tokens\u0022: 14,\n    \u0022input_token_details\u0022: {\n      \u0022text_tokens\u0022: 0,\n      \u0022audio_tokens\u0022: 14\n    },\n    \u0022output_tokens\u0022: 45,\n    \u0022total_tokens\u0022: 59\n  }\n}\n"},{"title":"Diarization","request":{"curl":"curl https://api.openai.com/v1/audio/transcriptions \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: multipart/form-data\u0022 \\\n  -F file=\u0022@/path/to/file/meeting.wav\u0022 \\\n  -F model=\u0022gpt-4o-transcribe-diarize\u0022 \\\n  -F response_format=\u0022diarized_json\u0022 \\\n  -F chunking_strategy=auto \\\n  -F \u0027known_speaker_names[]=agent\u0027 \\\n  -F \u0027known_speaker_references[]=data:audio/wav;base64,AAA...\u0027\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nfor transcription in client.audio.transcriptions.create(\n    file=b\u0022Example data\u0022,\n    model=\u0022gpt-4o-transcribe\u0022,\n):\n  print(transcription)","javascript":"import fs from \u0022fs\u0022;\nimport OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nconst speakerRef = fs.readFileSync(\u0022agent.wav\u0022).toString(\u0022base64\u0022);\n\nconst transcript = await openai.audio.transcriptions.create({\n  file: fs.createReadStream(\u0022meeting.wav\u0022),\n  model: \u0022gpt-4o-transcribe-diarize\u0022,\n  response_format: \u0022diarized_json\u0022,\n  chunking_strategy: \u0022auto\u0022,\n  extra_body: {\n    known_speaker_names: [\u0022agent\u0022],\n    known_speaker_references: [\u0060data:audio/wav;base64,${speakerRef}\u0060],\n  },\n});\n\nconsole.log(transcript.segments);\n","node.js":"import fs from \u0027fs\u0027;\nimport OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst transcription = await client.audio.transcriptions.create({\n  file: fs.createReadStream(\u0027speech.mp3\u0027),\n  model: \u0027gpt-4o-transcribe\u0027,\n});\n\nconsole.log(transcription);","go":"package main\n\nimport (\n  \u0022bytes\u0022\n  \u0022context\u0022\n  \u0022fmt\u0022\n  \u0022io\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{\n    File:  io.Reader(bytes.NewBuffer([]byte(\u0022Example data\u0022))),\n    Model: openai.AudioModelGPT4oTranscribe,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, transcription)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.audio.AudioModel;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateParams;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateResponse;\nimport java.io.ByteArrayInputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        TranscriptionCreateParams params = TranscriptionCreateParams.builder()\n            .file(new ByteArrayInputStream(\u0022Example data\u0022.getBytes()))\n            .model(AudioModel.GPT_4O_TRANSCRIBE)\n            .build();\n        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\ntranscription = openai.audio.transcriptions.create(file: StringIO.new(\u0022Example data\u0022), model: :\u0022gpt-4o-transcribe\u0022)\n\nputs(transcription)"},"response":"{\n  \u0022task\u0022: \u0022transcribe\u0022,\n  \u0022duration\u0022: 27.4,\n  \u0022text\u0022: \u0022Agent: Thanks for calling OpenAI support.\\nA: Hi, I\u0027m trying to enable diarization.\\nAgent: Happy to walk you through the steps.\u0022,\n  \u0022segments\u0022: [\n    {\n      \u0022type\u0022: \u0022transcript.text.segment\u0022,\n      \u0022id\u0022: \u0022seg_001\u0022,\n      \u0022start\u0022: 0.0,\n      \u0022end\u0022: 4.7,\n      \u0022text\u0022: \u0022Thanks for calling OpenAI support.\u0022,\n      \u0022speaker\u0022: \u0022agent\u0022\n    },\n    {\n      \u0022type\u0022: \u0022transcript.text.segment\u0022,\n      \u0022id\u0022: \u0022seg_002\u0022,\n      \u0022start\u0022: 4.7,\n      \u0022end\u0022: 11.8,\n      \u0022text\u0022: \u0022Hi, I\u0027m trying to enable diarization.\u0022,\n      \u0022speaker\u0022: \u0022A\u0022\n    },\n    {\n      \u0022type\u0022: \u0022transcript.text.segment\u0022,\n      \u0022id\u0022: \u0022seg_003\u0022,\n      \u0022start\u0022: 12.1,\n      \u0022end\u0022: 18.5,\n      \u0022text\u0022: \u0022Happy to walk you through the steps.\u0022,\n      \u0022speaker\u0022: \u0022agent\u0022\n    }\n  ],\n  \u0022usage\u0022: {\n    \u0022type\u0022: \u0022duration\u0022,\n    \u0022seconds\u0022: 27\n  }\n}\n"},{"title":"Streaming","request":{"curl":"curl https://api.openai.com/v1/audio/transcriptions \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: multipart/form-data\u0022 \\\n  -F file=\u0022@/path/to/file/audio.mp3\u0022 \\\n  -F model=\u0022gpt-4o-mini-transcribe\u0022 \\\n  -F stream=true\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nfor transcription in client.audio.transcriptions.create(\n    file=b\u0022Example data\u0022,\n    model=\u0022gpt-4o-transcribe\u0022,\n):\n  print(transcription)","javascript":"import fs from \u0022fs\u0022;\nimport OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nconst stream = await openai.audio.transcriptions.create({\n  file: fs.createReadStream(\u0022audio.mp3\u0022),\n  model: \u0022gpt-4o-mini-transcribe\u0022,\n  stream: true,\n});\n\nfor await (const event of stream) {\n  console.log(event);\n}\n","node.js":"import fs from \u0027fs\u0027;\nimport OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst transcription = await client.audio.transcriptions.create({\n  file: fs.createReadStream(\u0027speech.mp3\u0027),\n  model: \u0027gpt-4o-transcribe\u0027,\n});\n\nconsole.log(transcription);","go":"package main\n\nimport (\n  \u0022bytes\u0022\n  \u0022context\u0022\n  \u0022fmt\u0022\n  \u0022io\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{\n    File:  io.Reader(bytes.NewBuffer([]byte(\u0022Example data\u0022))),\n    Model: openai.AudioModelGPT4oTranscribe,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, transcription)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.audio.AudioModel;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateParams;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateResponse;\nimport java.io.ByteArrayInputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        TranscriptionCreateParams params = TranscriptionCreateParams.builder()\n            .file(new ByteArrayInputStream(\u0022Example data\u0022.getBytes()))\n            .model(AudioModel.GPT_4O_TRANSCRIBE)\n            .build();\n        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\ntranscription = openai.audio.transcriptions.create(file: StringIO.new(\u0022Example data\u0022), model: :\u0022gpt-4o-transcribe\u0022)\n\nputs(transcription)"},"response":"data: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022I\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022I\u0022,\u0022logprob\u0022:-0.00007588794,\u0022bytes\u0022:[73]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 see\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 see\u0022,\u0022logprob\u0022:-3.1281633e-7,\u0022bytes\u0022:[32,115,101,101]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 skies\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 skies\u0022,\u0022logprob\u0022:-2.3392786e-6,\u0022bytes\u0022:[32,115,107,105,101,115]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 of\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 of\u0022,\u0022logprob\u0022:-3.1281633e-7,\u0022bytes\u0022:[32,111,102]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 blue\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 blue\u0022,\u0022logprob\u0022:-1.0280384e-6,\u0022bytes\u0022:[32,98,108,117,101]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 and\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 and\u0022,\u0022logprob\u0022:-0.0005108566,\u0022bytes\u0022:[32,97,110,100]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 clouds\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 clouds\u0022,\u0022logprob\u0022:-1.9361265e-7,\u0022bytes\u0022:[32,99,108,111,117,100,115]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 of\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 of\u0022,\u0022logprob\u0022:-1.9361265e-7,\u0022bytes\u0022:[32,111,102]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 white\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 white\u0022,\u0022logprob\u0022:-7.89631e-7,\u0022bytes\u0022:[32,119,104,105,116,101]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022,\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022,\u0022,\u0022logprob\u0022:-0.0014890312,\u0022bytes\u0022:[44]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 the\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 the\u0022,\u0022logprob\u0022:-0.0110956915,\u0022bytes\u0022:[32,116,104,101]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 bright\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 bright\u0022,\u0022logprob\u0022:0.0,\u0022bytes\u0022:[32,98,114,105,103,104,116]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 blessed\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 blessed\u0022,\u0022logprob\u0022:-0.000045848617,\u0022bytes\u0022:[32,98,108,101,115,115,101,100]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 days\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 days\u0022,\u0022logprob\u0022:-0.000010802739,\u0022bytes\u0022:[32,100,97,121,115]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022,\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022,\u0022,\u0022logprob\u0022:-0.00001700133,\u0022bytes\u0022:[44]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 the\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 the\u0022,\u0022logprob\u0022:-0.0000118755715,\u0022bytes\u0022:[32,116,104,101]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 dark\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 dark\u0022,\u0022logprob\u0022:-5.5122365e-7,\u0022bytes\u0022:[32,100,97,114,107]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 sacred\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 sacred\u0022,\u0022logprob\u0022:-5.4385737e-6,\u0022bytes\u0022:[32,115,97,99,114,101,100]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 nights\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 nights\u0022,\u0022logprob\u0022:-4.00813e-6,\u0022bytes\u0022:[32,110,105,103,104,116,115]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022,\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022,\u0022,\u0022logprob\u0022:-0.0036910512,\u0022bytes\u0022:[44]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 and\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 and\u0022,\u0022logprob\u0022:-0.0031903093,\u0022bytes\u0022:[32,97,110,100]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 I\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 I\u0022,\u0022logprob\u0022:-1.504853e-6,\u0022bytes\u0022:[32,73]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 think\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 think\u0022,\u0022logprob\u0022:-4.3202e-7,\u0022bytes\u0022:[32,116,104,105,110,107]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 to\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 to\u0022,\u0022logprob\u0022:-1.9361265e-7,\u0022bytes\u0022:[32,116,111]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 myself\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 myself\u0022,\u0022logprob\u0022:-1.7432603e-6,\u0022bytes\u0022:[32,109,121,115,101,108,102]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022,\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022,\u0022,\u0022logprob\u0022:-0.29254505,\u0022bytes\u0022:[44]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 what\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 what\u0022,\u0022logprob\u0022:-0.016815351,\u0022bytes\u0022:[32,119,104,97,116]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 a\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 a\u0022,\u0022logprob\u0022:-3.1281633e-7,\u0022bytes\u0022:[32,97]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 wonderful\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 wonderful\u0022,\u0022logprob\u0022:-2.1008714e-6,\u0022bytes\u0022:[32,119,111,110,100,101,114,102,117,108]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022 world\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022 world\u0022,\u0022logprob\u0022:-8.180258e-6,\u0022bytes\u0022:[32,119,111,114,108,100]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.delta\u0022,\u0022delta\u0022:\u0022.\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022.\u0022,\u0022logprob\u0022:-0.014231676,\u0022bytes\u0022:[46]}]}\n\ndata: {\u0022type\u0022:\u0022transcript.text.done\u0022,\u0022text\u0022:\u0022I see skies of blue and clouds of white, the bright blessed days, the dark sacred nights, and I think to myself, what a wonderful world.\u0022,\u0022logprobs\u0022:[{\u0022token\u0022:\u0022I\u0022,\u0022logprob\u0022:-0.00007588794,\u0022bytes\u0022:[73]},{\u0022token\u0022:\u0022 see\u0022,\u0022logprob\u0022:-3.1281633e-7,\u0022bytes\u0022:[32,115,101,101]},{\u0022token\u0022:\u0022 skies\u0022,\u0022logprob\u0022:-2.3392786e-6,\u0022bytes\u0022:[32,115,107,105,101,115]},{\u0022token\u0022:\u0022 of\u0022,\u0022logprob\u0022:-3.1281633e-7,\u0022bytes\u0022:[32,111,102]},{\u0022token\u0022:\u0022 blue\u0022,\u0022logprob\u0022:-1.0280384e-6,\u0022bytes\u0022:[32,98,108,117,101]},{\u0022token\u0022:\u0022 and\u0022,\u0022logprob\u0022:-0.0005108566,\u0022bytes\u0022:[32,97,110,100]},{\u0022token\u0022:\u0022 clouds\u0022,\u0022logprob\u0022:-1.9361265e-7,\u0022bytes\u0022:[32,99,108,111,117,100,115]},{\u0022token\u0022:\u0022 of\u0022,\u0022logprob\u0022:-1.9361265e-7,\u0022bytes\u0022:[32,111,102]},{\u0022token\u0022:\u0022 white\u0022,\u0022logprob\u0022:-7.89631e-7,\u0022bytes\u0022:[32,119,104,105,116,101]},{\u0022token\u0022:\u0022,\u0022,\u0022logprob\u0022:-0.0014890312,\u0022bytes\u0022:[44]},{\u0022token\u0022:\u0022 the\u0022,\u0022logprob\u0022:-0.0110956915,\u0022bytes\u0022:[32,116,104,101]},{\u0022token\u0022:\u0022 bright\u0022,\u0022logprob\u0022:0.0,\u0022bytes\u0022:[32,98,114,105,103,104,116]},{\u0022token\u0022:\u0022 blessed\u0022,\u0022logprob\u0022:-0.000045848617,\u0022bytes\u0022:[32,98,108,101,115,115,101,100]},{\u0022token\u0022:\u0022 days\u0022,\u0022logprob\u0022:-0.000010802739,\u0022bytes\u0022:[32,100,97,121,115]},{\u0022token\u0022:\u0022,\u0022,\u0022logprob\u0022:-0.00001700133,\u0022bytes\u0022:[44]},{\u0022token\u0022:\u0022 the\u0022,\u0022logprob\u0022:-0.0000118755715,\u0022bytes\u0022:[32,116,104,101]},{\u0022token\u0022:\u0022 dark\u0022,\u0022logprob\u0022:-5.5122365e-7,\u0022bytes\u0022:[32,100,97,114,107]},{\u0022token\u0022:\u0022 sacred\u0022,\u0022logprob\u0022:-5.4385737e-6,\u0022bytes\u0022:[32,115,97,99,114,101,100]},{\u0022token\u0022:\u0022 nights\u0022,\u0022logprob\u0022:-4.00813e-6,\u0022bytes\u0022:[32,110,105,103,104,116,115]},{\u0022token\u0022:\u0022,\u0022,\u0022logprob\u0022:-0.0036910512,\u0022bytes\u0022:[44]},{\u0022token\u0022:\u0022 and\u0022,\u0022logprob\u0022:-0.0031903093,\u0022bytes\u0022:[32,97,110,100]},{\u0022token\u0022:\u0022 I\u0022,\u0022logprob\u0022:-1.504853e-6,\u0022bytes\u0022:[32,73]},{\u0022token\u0022:\u0022 think\u0022,\u0022logprob\u0022:-4.3202e-7,\u0022bytes\u0022:[32,116,104,105,110,107]},{\u0022token\u0022:\u0022 to\u0022,\u0022logprob\u0022:-1.9361265e-7,\u0022bytes\u0022:[32,116,111]},{\u0022token\u0022:\u0022 myself\u0022,\u0022logprob\u0022:-1.7432603e-6,\u0022bytes\u0022:[32,109,121,115,101,108,102]},{\u0022token\u0022:\u0022,\u0022,\u0022logprob\u0022:-0.29254505,\u0022bytes\u0022:[44]},{\u0022token\u0022:\u0022 what\u0022,\u0022logprob\u0022:-0.016815351,\u0022bytes\u0022:[32,119,104,97,116]},{\u0022token\u0022:\u0022 a\u0022,\u0022logprob\u0022:-3.1281633e-7,\u0022bytes\u0022:[32,97]},{\u0022token\u0022:\u0022 wonderful\u0022,\u0022logprob\u0022:-2.1008714e-6,\u0022bytes\u0022:[32,119,111,110,100,101,114,102,117,108]},{\u0022token\u0022:\u0022 world\u0022,\u0022logprob\u0022:-8.180258e-6,\u0022bytes\u0022:[32,119,111,114,108,100]},{\u0022token\u0022:\u0022.\u0022,\u0022logprob\u0022:-0.014231676,\u0022bytes\u0022:[46]}],\u0022usage\u0022:{\u0022input_tokens\u0022:14,\u0022input_token_details\u0022:{\u0022text_tokens\u0022:0,\u0022audio_tokens\u0022:14},\u0022output_tokens\u0022:45,\u0022total_tokens\u0022:59}}\n"},{"title":"Logprobs","request":{"curl":"curl https://api.openai.com/v1/audio/transcriptions \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: multipart/form-data\u0022 \\\n  -F file=\u0022@/path/to/file/audio.mp3\u0022 \\\n  -F \u0022include[]=logprobs\u0022 \\\n  -F model=\u0022gpt-4o-transcribe\u0022 \\\n  -F response_format=\u0022json\u0022\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nfor transcription in client.audio.transcriptions.create(\n    file=b\u0022Example data\u0022,\n    model=\u0022gpt-4o-transcribe\u0022,\n):\n  print(transcription)","javascript":"import fs from \u0022fs\u0022;\nimport OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const transcription = await openai.audio.transcriptions.create({\n    file: fs.createReadStream(\u0022audio.mp3\u0022),\n    model: \u0022gpt-4o-transcribe\u0022,\n    response_format: \u0022json\u0022,\n    include: [\u0022logprobs\u0022]\n  });\n\n  console.log(transcription);\n}\nmain();\n","node.js":"import fs from \u0027fs\u0027;\nimport OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst transcription = await client.audio.transcriptions.create({\n  file: fs.createReadStream(\u0027speech.mp3\u0027),\n  model: \u0027gpt-4o-transcribe\u0027,\n});\n\nconsole.log(transcription);","go":"package main\n\nimport (\n  \u0022bytes\u0022\n  \u0022context\u0022\n  \u0022fmt\u0022\n  \u0022io\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{\n    File:  io.Reader(bytes.NewBuffer([]byte(\u0022Example data\u0022))),\n    Model: openai.AudioModelGPT4oTranscribe,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, transcription)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.audio.AudioModel;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateParams;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateResponse;\nimport java.io.ByteArrayInputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        TranscriptionCreateParams params = TranscriptionCreateParams.builder()\n            .file(new ByteArrayInputStream(\u0022Example data\u0022.getBytes()))\n            .model(AudioModel.GPT_4O_TRANSCRIBE)\n            .build();\n        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\ntranscription = openai.audio.transcriptions.create(file: StringIO.new(\u0022Example data\u0022), model: :\u0022gpt-4o-transcribe\u0022)\n\nputs(transcription)"},"response":"{\n  \u0022text\u0022: \u0022Hey, my knee is hurting and I want to see the doctor tomorrow ideally.\u0022,\n  \u0022logprobs\u0022: [\n    { \u0022token\u0022: \u0022Hey\u0022, \u0022logprob\u0022: -1.0415299, \u0022bytes\u0022: [72, 101, 121] },\n    { \u0022token\u0022: \u0022,\u0022, \u0022logprob\u0022: -9.805982e-5, \u0022bytes\u0022: [44] },\n    { \u0022token\u0022: \u0022 my\u0022, \u0022logprob\u0022: -0.00229799, \u0022bytes\u0022: [32, 109, 121] },\n    {\n      \u0022token\u0022: \u0022 knee\u0022,\n      \u0022logprob\u0022: -4.7159858e-5,\n      \u0022bytes\u0022: [32, 107, 110, 101, 101]\n    },\n    { \u0022token\u0022: \u0022 is\u0022, \u0022logprob\u0022: -0.043909557, \u0022bytes\u0022: [32, 105, 115] },\n    {\n      \u0022token\u0022: \u0022 hurting\u0022,\n      \u0022logprob\u0022: -1.1041146e-5,\n      \u0022bytes\u0022: [32, 104, 117, 114, 116, 105, 110, 103]\n    },\n    { \u0022token\u0022: \u0022 and\u0022, \u0022logprob\u0022: -0.011076359, \u0022bytes\u0022: [32, 97, 110, 100] },\n    { \u0022token\u0022: \u0022 I\u0022, \u0022logprob\u0022: -5.3193703e-6, \u0022bytes\u0022: [32, 73] },\n    {\n      \u0022token\u0022: \u0022 want\u0022,\n      \u0022logprob\u0022: -0.0017156356,\n      \u0022bytes\u0022: [32, 119, 97, 110, 116]\n    },\n    { \u0022token\u0022: \u0022 to\u0022, \u0022logprob\u0022: -7.89631e-7, \u0022bytes\u0022: [32, 116, 111] },\n    { \u0022token\u0022: \u0022 see\u0022, \u0022logprob\u0022: -5.5122365e-7, \u0022bytes\u0022: [32, 115, 101, 101] },\n    { \u0022token\u0022: \u0022 the\u0022, \u0022logprob\u0022: -0.0040786397, \u0022bytes\u0022: [32, 116, 104, 101] },\n    {\n      \u0022token\u0022: \u0022 doctor\u0022,\n      \u0022logprob\u0022: -2.3392786e-6,\n      \u0022bytes\u0022: [32, 100, 111, 99, 116, 111, 114]\n    },\n    {\n      \u0022token\u0022: \u0022 tomorrow\u0022,\n      \u0022logprob\u0022: -7.89631e-7,\n      \u0022bytes\u0022: [32, 116, 111, 109, 111, 114, 114, 111, 119]\n    },\n    {\n      \u0022token\u0022: \u0022 ideally\u0022,\n      \u0022logprob\u0022: -0.5800861,\n      \u0022bytes\u0022: [32, 105, 100, 101, 97, 108, 108, 121]\n    },\n    { \u0022token\u0022: \u0022.\u0022, \u0022logprob\u0022: -0.00011093382, \u0022bytes\u0022: [46] }\n  ],\n  \u0022usage\u0022: {\n    \u0022type\u0022: \u0022tokens\u0022,\n    \u0022input_tokens\u0022: 14,\n    \u0022input_token_details\u0022: {\n      \u0022text_tokens\u0022: 0,\n      \u0022audio_tokens\u0022: 14\n    },\n    \u0022output_tokens\u0022: 45,\n    \u0022total_tokens\u0022: 59\n  }\n}\n"},{"title":"Word timestamps","request":{"curl":"curl https://api.openai.com/v1/audio/transcriptions \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: multipart/form-data\u0022 \\\n  -F file=\u0022@/path/to/file/audio.mp3\u0022 \\\n  -F \u0022timestamp_granularities[]=word\u0022 \\\n  -F model=\u0022whisper-1\u0022 \\\n  -F response_format=\u0022verbose_json\u0022\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nfor transcription in client.audio.transcriptions.create(\n    file=b\u0022Example data\u0022,\n    model=\u0022gpt-4o-transcribe\u0022,\n):\n  print(transcription)","javascript":"import fs from \u0022fs\u0022;\nimport OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const transcription = await openai.audio.transcriptions.create({\n    file: fs.createReadStream(\u0022audio.mp3\u0022),\n    model: \u0022whisper-1\u0022,\n    response_format: \u0022verbose_json\u0022,\n    timestamp_granularities: [\u0022word\u0022]\n  });\n\n  console.log(transcription.text);\n}\nmain();\n","csharp":"using System;\n\nusing OpenAI.Audio;\n\nstring audioFilePath = \u0022audio.mp3\u0022;\n\nAudioClient client = new(\n    model: \u0022whisper-1\u0022,\n    apiKey: Environment.GetEnvironmentVariable(\u0022OPENAI_API_KEY\u0022)\n);\n\nAudioTranscriptionOptions options = new()\n{\n    ResponseFormat = AudioTranscriptionFormat.Verbose,\n    TimestampGranularities = AudioTimestampGranularities.Word,\n};\n\nAudioTranscription transcription = client.TranscribeAudio(audioFilePath, options);\n\nConsole.WriteLine($\u0022{transcription.Text}\u0022);\n","node.js":"import fs from \u0027fs\u0027;\nimport OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst transcription = await client.audio.transcriptions.create({\n  file: fs.createReadStream(\u0027speech.mp3\u0027),\n  model: \u0027gpt-4o-transcribe\u0027,\n});\n\nconsole.log(transcription);","go":"package main\n\nimport (\n  \u0022bytes\u0022\n  \u0022context\u0022\n  \u0022fmt\u0022\n  \u0022io\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{\n    File:  io.Reader(bytes.NewBuffer([]byte(\u0022Example data\u0022))),\n    Model: openai.AudioModelGPT4oTranscribe,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, transcription)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.audio.AudioModel;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateParams;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateResponse;\nimport java.io.ByteArrayInputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        TranscriptionCreateParams params = TranscriptionCreateParams.builder()\n            .file(new ByteArrayInputStream(\u0022Example data\u0022.getBytes()))\n            .model(AudioModel.GPT_4O_TRANSCRIBE)\n            .build();\n        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\ntranscription = openai.audio.transcriptions.create(file: StringIO.new(\u0022Example data\u0022), model: :\u0022gpt-4o-transcribe\u0022)\n\nputs(transcription)"},"response":"{\n  \u0022task\u0022: \u0022transcribe\u0022,\n  \u0022language\u0022: \u0022english\u0022,\n  \u0022duration\u0022: 8.470000267028809,\n  \u0022text\u0022: \u0022The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball.\u0022,\n  \u0022words\u0022: [\n    {\n      \u0022word\u0022: \u0022The\u0022,\n      \u0022start\u0022: 0.0,\n      \u0022end\u0022: 0.23999999463558197\n    },\n    ...\n    {\n      \u0022word\u0022: \u0022volleyball\u0022,\n      \u0022start\u0022: 7.400000095367432,\n      \u0022end\u0022: 7.900000095367432\n    }\n  ],\n  \u0022usage\u0022: {\n    \u0022type\u0022: \u0022duration\u0022,\n    \u0022seconds\u0022: 9\n  }\n}\n"},{"title":"Segment timestamps","request":{"curl":"curl https://api.openai.com/v1/audio/transcriptions \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: multipart/form-data\u0022 \\\n  -F file=\u0022@/path/to/file/audio.mp3\u0022 \\\n  -F \u0022timestamp_granularities[]=segment\u0022 \\\n  -F model=\u0022whisper-1\u0022 \\\n  -F response_format=\u0022verbose_json\u0022\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nfor transcription in client.audio.transcriptions.create(\n    file=b\u0022Example data\u0022,\n    model=\u0022gpt-4o-transcribe\u0022,\n):\n  print(transcription)","javascript":"import fs from \u0022fs\u0022;\nimport OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const transcription = await openai.audio.transcriptions.create({\n    file: fs.createReadStream(\u0022audio.mp3\u0022),\n    model: \u0022whisper-1\u0022,\n    response_format: \u0022verbose_json\u0022,\n    timestamp_granularities: [\u0022segment\u0022]\n  });\n\n  console.log(transcription.text);\n}\nmain();\n","csharp":"using System;\n\nusing OpenAI.Audio;\n\nstring audioFilePath = \u0022audio.mp3\u0022;\n\nAudioClient client = new(\n    model: \u0022whisper-1\u0022,\n    apiKey: Environment.GetEnvironmentVariable(\u0022OPENAI_API_KEY\u0022)\n);\n\nAudioTranscriptionOptions options = new()\n{\n    ResponseFormat = AudioTranscriptionFormat.Verbose,\n    TimestampGranularities = AudioTimestampGranularities.Segment,\n};\n\nAudioTranscription transcription = client.TranscribeAudio(audioFilePath, options);\n\nConsole.WriteLine($\u0022{transcription.Text}\u0022);\n","node.js":"import fs from \u0027fs\u0027;\nimport OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst transcription = await client.audio.transcriptions.create({\n  file: fs.createReadStream(\u0027speech.mp3\u0027),\n  model: \u0027gpt-4o-transcribe\u0027,\n});\n\nconsole.log(transcription);","go":"package main\n\nimport (\n  \u0022bytes\u0022\n  \u0022context\u0022\n  \u0022fmt\u0022\n  \u0022io\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{\n    File:  io.Reader(bytes.NewBuffer([]byte(\u0022Example data\u0022))),\n    Model: openai.AudioModelGPT4oTranscribe,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, transcription)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.audio.AudioModel;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateParams;\nimport com.openai.models.audio.transcriptions.TranscriptionCreateResponse;\nimport java.io.ByteArrayInputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        TranscriptionCreateParams params = TranscriptionCreateParams.builder()\n            .file(new ByteArrayInputStream(\u0022Example data\u0022.getBytes()))\n            .model(AudioModel.GPT_4O_TRANSCRIBE)\n            .build();\n        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\ntranscription = openai.audio.transcriptions.create(file: StringIO.new(\u0022Example data\u0022), model: :\u0022gpt-4o-transcribe\u0022)\n\nputs(transcription)"},"response":"{\n  \u0022task\u0022: \u0022transcribe\u0022,\n  \u0022language\u0022: \u0022english\u0022,\n  \u0022duration\u0022: 8.470000267028809,\n  \u0022text\u0022: \u0022The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball.\u0022,\n  \u0022segments\u0022: [\n    {\n      \u0022id\u0022: 0,\n      \u0022seek\u0022: 0,\n      \u0022start\u0022: 0.0,\n      \u0022end\u0022: 3.319999933242798,\n      \u0022text\u0022: \u0022 The beach was a popular spot on a hot summer day.\u0022,\n      \u0022tokens\u0022: [\n        50364, 440, 7534, 390, 257, 3743, 4008, 322, 257, 2368, 4266, 786, 13, 50530\n      ],\n      \u0022temperature\u0022: 0.0,\n      \u0022avg_logprob\u0022: -0.2860786020755768,\n      \u0022compression_ratio\u0022: 1.2363636493682861,\n      \u0022no_speech_prob\u0022: 0.00985979475080967\n    },\n    ...\n  ],\n  \u0022usage\u0022: {\n    \u0022type\u0022: \u0022duration\u0022,\n    \u0022seconds\u0022: 9\n  }\n}\n"}]}}},"/audio/translations":{"post":{"operationId":"createTranslation","tags":["Audio"],"summary":"Translates audio into English.","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateTranslationRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateTranslationResponseJson"},{"$ref":"#/components/schemas/CreateTranslationResponseVerboseJson"}]}}}}},"x-oaiMeta":{"name":"Create translation","group":"audio","examples":{"request":{"curl":"curl https://api.openai.com/v1/audio/translations \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: multipart/form-data\u0022 \\\n  -F file=\u0022@/path/to/file/german.m4a\u0022 \\\n  -F model=\u0022whisper-1\u0022\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\ntranslation = client.audio.translations.create(\n    file=b\u0022Example data\u0022,\n    model=\u0022whisper-1\u0022,\n)\nprint(translation)","javascript":"import fs from \u0022fs\u0022;\nimport OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n    const translation = await openai.audio.translations.create({\n        file: fs.createReadStream(\u0022speech.mp3\u0022),\n        model: \u0022whisper-1\u0022,\n    });\n\n    console.log(translation.text);\n}\nmain();\n","csharp":"using System;\n\nusing OpenAI.Audio;\n\nstring audioFilePath = \u0022audio.mp3\u0022;\n\nAudioClient client = new(\n    model: \u0022whisper-1\u0022,\n    apiKey: Environment.GetEnvironmentVariable(\u0022OPENAI_API_KEY\u0022)\n);\n\nAudioTranscription transcription = client.TranscribeAudio(audioFilePath);\n\nConsole.WriteLine($\u0022{transcription.Text}\u0022);\n","node.js":"import fs from \u0027fs\u0027;\nimport OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst translation = await client.audio.translations.create({\n  file: fs.createReadStream(\u0027speech.mp3\u0027),\n  model: \u0027whisper-1\u0027,\n});\n\nconsole.log(translation);","go":"package main\n\nimport (\n  \u0022bytes\u0022\n  \u0022context\u0022\n  \u0022fmt\u0022\n  \u0022io\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  translation, err := client.Audio.Translations.New(context.TODO(), openai.AudioTranslationNewParams{\n    File:  io.Reader(bytes.NewBuffer([]byte(\u0022Example data\u0022))),\n    Model: openai.AudioModelWhisper1,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, translation)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.audio.AudioModel;\nimport com.openai.models.audio.translations.TranslationCreateParams;\nimport com.openai.models.audio.translations.TranslationCreateResponse;\nimport java.io.ByteArrayInputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        TranslationCreateParams params = TranslationCreateParams.builder()\n            .file(new ByteArrayInputStream(\u0022Example data\u0022.getBytes()))\n            .model(AudioModel.WHISPER_1)\n            .build();\n        TranslationCreateResponse translation = client.audio().translations().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\ntranslation = openai.audio.translations.create(file: StringIO.new(\u0022Example data\u0022), model: :\u0022whisper-1\u0022)\n\nputs(translation)"},"response":"{\n  \u0022text\u0022: \u0022Hello, my name is Wolfgang and I come from Germany. Where are you heading today?\u0022\n}\n"}}}},"/audio/voice_consents":{"post":{"operationId":"createVoiceConsent","tags":["Audio"],"summary":"Upload a voice consent recording.","description":"Upload a consent recording that authorizes creation of a custom voice.\n\nSee the [custom voices guide](/docs/guides/text-to-speech#custom-voices) for requirements and best practices. Custom voices are limited to eligible customers.\n","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateVoiceConsentRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceConsentResource"}}}}},"x-oaiMeta":{"name":"Create voice consent","group":"audio","examples":{"request":{"curl":"curl https://api.openai.com/v1/audio/voice_consents \\\n  -X POST \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -F \u0022name=John Doe\u0022 \\\n  -F \u0022language=en-US\u0022 \\\n  -F \u0022recording=@$HOME/consent_recording.wav;type=audio/x-wav\u0022\n"},"response":""}}},"get":{"operationId":"listVoiceConsents","tags":["Audio"],"summary":"Returns a list of voice consent recordings.","description":"List consent recordings available to your organization for creating custom voices.\n\nSee the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.\n","parameters":[{"in":"query","name":"after","required":false,"schema":{"type":"string"},"description":"A cursor for use in pagination. \u0060after\u0060 is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"},{"name":"limit","in":"query","description":"A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n","required":false,"schema":{"type":"integer","default":20}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceConsentListResource"}}}}},"x-oaiMeta":{"name":"List voice consents","group":"audio","examples":{"request":{"curl":"curl https://api.openai.com/v1/audio/voice_consents?limit=20 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022\n"},"response":""}}}},"/audio/voice_consents/{consent_id}":{"get":{"operationId":"getVoiceConsent","tags":["Audio"],"summary":"Retrieves a voice consent recording.","description":"Retrieve consent recording metadata used for creating custom voices.\n\nSee the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.\n","parameters":[{"in":"path","name":"consent_id","required":true,"schema":{"type":"string"},"description":"The ID of the consent recording to retrieve."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceConsentResource"}}}}},"x-oaiMeta":{"name":"Retrieve voice consent","group":"audio","examples":{"request":{"curl":"curl https://api.openai.com/v1/audio/voice_consents/cons_1234 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022\n"},"response":""}}},"post":{"operationId":"updateVoiceConsent","tags":["Audio"],"summary":"Updates a voice consent recording (metadata only).","description":"Update consent recording metadata used for creating custom voices. This endpoint updates metadata only and does not replace the underlying audio.\n\nSee the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.\n","parameters":[{"in":"path","name":"consent_id","required":true,"schema":{"type":"string"},"description":"The ID of the consent recording to update."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVoiceConsentRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceConsentResource"}}}}},"x-oaiMeta":{"name":"Update voice consent","group":"audio","examples":{"request":{"curl":"curl https://api.openai.com/v1/audio/voice_consents/cons_1234 \\\n  -X POST \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -d \u0027{\n    \u0022name\u0022: \u0022John Doe\u0022\n  }\u0027\n"},"response":""}}},"delete":{"operationId":"deleteVoiceConsent","tags":["Audio"],"summary":"Deletes a voice consent recording.","description":"Delete a consent recording that was uploaded for creating custom voices.\n\nSee the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.\n","parameters":[{"in":"path","name":"consent_id","required":true,"schema":{"type":"string"},"description":"The ID of the consent recording to delete."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceConsentDeletedResource"}}}}},"x-oaiMeta":{"name":"Delete voice consent","group":"audio","examples":{"request":{"curl":"curl https://api.openai.com/v1/audio/voice_consents/cons_1234 \\\n  -X DELETE \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022\n"},"response":""}}}},"/audio/voices":{"post":{"operationId":"createVoice","tags":["Audio"],"summary":"Creates a custom voice.","description":"Create a custom voice you can use for audio output (for example, in Text-to-Speech and the Realtime API). This requires an audio sample and a previously uploaded consent recording.\n\nSee the [custom voices guide](/docs/guides/text-to-speech#custom-voices) for requirements and best practices. Custom voices are limited to eligible customers.\n","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateVoiceRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceResource"}}}}},"x-oaiMeta":{"name":"Create voice","group":"audio","examples":{"request":{"curl":"curl https://api.openai.com/v1/audio/voices \\\n  -X POST \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -F \u0022name=My new voice\u0022 \\\n  -F \u0022consent=cons_1234\u0022 \\\n  -F \u0022audio_sample=@$HOME/audio_sample.wav;type=audio/x-wav\u0022\n"},"response":""}}}},"/batches":{"post":{"summary":"Creates and executes a batch from an uploaded file of requests","operationId":"createBatch","tags":["Batch"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["input_file_id","endpoint","completion_window"],"properties":{"input_file_id":{"type":"string","description":"The ID of an uploaded file that contains requests for the new batch.\n\nSee [upload file](/docs/api-reference/files/create) for how to upload a file.\n\nYour input file must be formatted as a [JSONL file](/docs/api-reference/batch/request-input), and must be uploaded with the purpose \u0060batch\u0060. The file can contain up to 50,000 requests, and can be up to 200 MB in size.\n"},"endpoint":{"type":"string","enum":["/v1/responses","/v1/chat/completions","/v1/embeddings","/v1/completions","/v1/moderations","/v1/images/generations","/v1/images/edits","/v1/videos"],"description":"The endpoint to be used for all requests in the batch. Currently \u0060/v1/responses\u0060, \u0060/v1/chat/completions\u0060, \u0060/v1/embeddings\u0060, \u0060/v1/completions\u0060, \u0060/v1/moderations\u0060, \u0060/v1/images/generations\u0060, \u0060/v1/images/edits\u0060, and \u0060/v1/videos\u0060 are supported. Note that \u0060/v1/embeddings\u0060 batches are also restricted to a maximum of 50,000 embedding inputs across all requests in the batch."},"completion_window":{"type":"string","enum":["24h"],"description":"The time frame within which the batch should be processed. Currently only \u006024h\u0060 is supported."},"metadata":{"$ref":"#/components/schemas/Metadata"},"output_expires_after":{"$ref":"#/components/schemas/BatchFileExpirationAfter"}}}}}},"responses":{"200":{"description":"Batch created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}}}},"x-oaiMeta":{"name":"Create batch","group":"batch","examples":{"request":{"curl":"curl https://api.openai.com/v1/batches \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -d \u0027{\n    \u0022input_file_id\u0022: \u0022file-abc123\u0022,\n    \u0022endpoint\u0022: \u0022/v1/chat/completions\u0022,\n    \u0022completion_window\u0022: \u002224h\u0022\n  }\u0027\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nbatch = client.batches.create(\n    completion_window=\u002224h\u0022,\n    endpoint=\u0022/v1/responses\u0022,\n    input_file_id=\u0022input_file_id\u0022,\n)\nprint(batch.id)","javascript":"import OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const batch = await openai.batches.create({\n    input_file_id: \u0022file-abc123\u0022,\n    endpoint: \u0022/v1/chat/completions\u0022,\n    completion_window: \u002224h\u0022\n  });\n\n  console.log(batch);\n}\n\nmain();\n","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst batch = await client.batches.create({\n  completion_window: \u002724h\u0027,\n  endpoint: \u0027/v1/responses\u0027,\n  input_file_id: \u0027input_file_id\u0027,\n});\n\nconsole.log(batch.id);","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  batch, err := client.Batches.New(context.TODO(), openai.BatchNewParams{\n    CompletionWindow: openai.BatchNewParamsCompletionWindow24h,\n    Endpoint:         openai.BatchNewParamsEndpointV1Responses,\n    InputFileID:      \u0022input_file_id\u0022,\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, batch.ID)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.batches.Batch;\nimport com.openai.models.batches.BatchCreateParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        BatchCreateParams params = BatchCreateParams.builder()\n            .completionWindow(BatchCreateParams.CompletionWindow._24H)\n            .endpoint(BatchCreateParams.Endpoint.V1_RESPONSES)\n            .inputFileId(\u0022input_file_id\u0022)\n            .build();\n        Batch batch = client.batches().create(params);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\nbatch = openai.batches.create(\n  completion_window: :\u002224h\u0022,\n  endpoint: :\u0022/v1/responses\u0022,\n  input_file_id: \u0022input_file_id\u0022\n)\n\nputs(batch)"},"response":"{\n  \u0022id\u0022: \u0022batch_abc123\u0022,\n  \u0022object\u0022: \u0022batch\u0022,\n  \u0022endpoint\u0022: \u0022/v1/chat/completions\u0022,\n  \u0022errors\u0022: null,\n  \u0022input_file_id\u0022: \u0022file-abc123\u0022,\n  \u0022completion_window\u0022: \u002224h\u0022,\n  \u0022status\u0022: \u0022validating\u0022,\n  \u0022output_file_id\u0022: null,\n  \u0022error_file_id\u0022: null,\n  \u0022created_at\u0022: 1711471533,\n  \u0022in_progress_at\u0022: null,\n  \u0022expires_at\u0022: null,\n  \u0022finalizing_at\u0022: null,\n  \u0022completed_at\u0022: null,\n  \u0022failed_at\u0022: null,\n  \u0022expired_at\u0022: null,\n  \u0022cancelling_at\u0022: null,\n  \u0022cancelled_at\u0022: null,\n  \u0022request_counts\u0022: {\n    \u0022total\u0022: 0,\n    \u0022completed\u0022: 0,\n    \u0022failed\u0022: 0\n  },\n  \u0022metadata\u0022: {\n    \u0022customer_id\u0022: \u0022user_123456789\u0022,\n    \u0022batch_description\u0022: \u0022Nightly eval job\u0022,\n  }\n}\n"}}},"get":{"operationId":"listBatches","tags":["Batch"],"summary":"List your organization\u0027s batches.","parameters":[{"in":"query","name":"after","required":false,"schema":{"type":"string"},"description":"A cursor for use in pagination. \u0060after\u0060 is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"},{"name":"limit","in":"query","description":"A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n","required":false,"schema":{"type":"integer","default":20}}],"responses":{"200":{"description":"Batch listed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListBatchesResponse"}}}}},"x-oaiMeta":{"name":"List batches","group":"batch","examples":{"request":{"curl":"curl https://api.openai.com/v1/batches?limit=2 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\npage = client.batches.list()\npage = page.data[0]\nprint(page.id)","javascript":"import OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const list = await openai.batches.list();\n\n  for await (const batch of list) {\n    console.log(batch);\n  }\n}\n\nmain();\n","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\n// Automatically fetches more pages as needed.\nfor await (const batch of client.batches.list()) {\n  console.log(batch.id);\n}","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  page, err := client.Batches.List(context.TODO(), openai.BatchListParams{})\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, page)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.batches.BatchListPage;\nimport com.openai.models.batches.BatchListParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        BatchListPage page = client.batches().list();\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\npage = openai.batches.list\n\nputs(page)"},"response":"{\n  \u0022object\u0022: \u0022list\u0022,\n  \u0022data\u0022: [\n    {\n      \u0022id\u0022: \u0022batch_abc123\u0022,\n      \u0022object\u0022: \u0022batch\u0022,\n      \u0022endpoint\u0022: \u0022/v1/chat/completions\u0022,\n      \u0022errors\u0022: null,\n      \u0022input_file_id\u0022: \u0022file-abc123\u0022,\n      \u0022completion_window\u0022: \u002224h\u0022,\n      \u0022status\u0022: \u0022completed\u0022,\n      \u0022output_file_id\u0022: \u0022file-cvaTdG\u0022,\n      \u0022error_file_id\u0022: \u0022file-HOWS94\u0022,\n      \u0022created_at\u0022: 1711471533,\n      \u0022in_progress_at\u0022: 1711471538,\n      \u0022expires_at\u0022: 1711557933,\n      \u0022finalizing_at\u0022: 1711493133,\n      \u0022completed_at\u0022: 1711493163,\n      \u0022failed_at\u0022: null,\n      \u0022expired_at\u0022: null,\n      \u0022cancelling_at\u0022: null,\n      \u0022cancelled_at\u0022: null,\n      \u0022request_counts\u0022: {\n        \u0022total\u0022: 100,\n        \u0022completed\u0022: 95,\n        \u0022failed\u0022: 5\n      },\n      \u0022metadata\u0022: {\n        \u0022customer_id\u0022: \u0022user_123456789\u0022,\n        \u0022batch_description\u0022: \u0022Nightly job\u0022,\n      }\n    },\n    { ... },\n  ],\n  \u0022first_id\u0022: \u0022batch_abc123\u0022,\n  \u0022last_id\u0022: \u0022batch_abc456\u0022,\n  \u0022has_more\u0022: true\n}\n"}}}},"/batches/{batch_id}":{"get":{"operationId":"retrieveBatch","tags":["Batch"],"summary":"Retrieves a batch.","parameters":[{"in":"path","name":"batch_id","required":true,"schema":{"type":"string"},"description":"The ID of the batch to retrieve."}],"responses":{"200":{"description":"Batch retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}}}},"x-oaiMeta":{"name":"Retrieve batch","group":"batch","examples":{"request":{"curl":"curl https://api.openai.com/v1/batches/batch_abc123 \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nbatch = client.batches.retrieve(\n    \u0022batch_id\u0022,\n)\nprint(batch.id)","javascript":"import OpenAI from \u0022openai\u0022;\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const batch = await openai.batches.retrieve(\u0022batch_abc123\u0022);\n\n  console.log(batch);\n}\n\nmain();\n","node.js":"import OpenAI from \u0027openai\u0027;\n\nconst client = new OpenAI({\n  apiKey: process.env[\u0027OPENAI_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst batch = await client.batches.retrieve(\u0027batch_id\u0027);\n\nconsole.log(batch.id);","go":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022fmt\u0022\n\n  \u0022github.com/openai/openai-go\u0022\n  \u0022github.com/openai/openai-go/option\u0022\n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\u0022My API Key\u0022),\n  )\n  batch, err := client.Batches.Get(context.TODO(), \u0022batch_id\u0022)\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\u0022%\u002Bv\\n\u0022, batch.ID)\n}\n","java":"package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.batches.Batch;\nimport com.openai.models.batches.BatchRetrieveParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        Batch batch = client.batches().retrieve(\u0022batch_id\u0022);\n    }\n}","ruby":"require \u0022openai\u0022\n\nopenai = OpenAI::Client.new(api_key: \u0022My API Key\u0022)\n\nbatch = openai.batches.retrieve(\u0022batch_id\u0022)\n\nputs(batch)"},"response":"{\n  \u0022id\u0022: \u0022batch_abc123\u0022,\n  \u0022object\u0022: \u0022batch\u0022,\n  \u0022endpoint\u0022: \u0022/v1/completions\u0022,\n  \u0022errors\u0022: null,\n  \u0022input_file_id\u0022: \u0022file-abc123\u0022,\n  \u0022completion_window\u0022: \u002224h\u0022,\n  \u0022status\u0022: \u0022completed\u0022,\n  \u0022output_file_id\u0022: \u0022file-cvaTdG\u0022,\n  \u0022error_file_id\u0022: \u0022file-HOWS94\u0022,\n  \u0022created_at\u0022: 1711471533,\n  \u0022in_progress_at\u0022: 1711471538,\n  \u0022expires_at\u0022: 1711557933,\n  \u0022finalizing_at\u0022: 1711493133,\n  \u0022completed_at\u0022: 1711493163,\n  \u0022failed_at\u0022: null,\n  \u0022expired_at\u0022: null,\n  \u0022cancelling_at\u0022: null,\n  \u0022cancelled_at\u0022: null,\n  \u0022request_counts\u0022: {\n    \u0022total\u0022: 100,\n    \u0022completed\u0022: 95,\n    \u0022failed\u0022: 5\n  },\n  \u0022metadata\u0022: {\n    \u0022customer_id\u0022: \u0022user_123456789\u0022,\n    \u0022batch_description\u0022: \u0022Nightly eval job\u0022,\n  }\n}\n"}}}},"/batches/{batch_id}/cancel":{"post":{"operationId":"cancelBatch","tags":["Batch"],"summary":"Cancels an in-progress batch. The batch will be in status \u0060cancelling\u0060 for up to 10 minutes, before changing to \u0060cancelled\u0060, where it will have partial results (if any) available in the output file.","parameters":[{"in":"path","name":"batch_id","required":true,"schema":{"type":"string"},"description":"The ID of the batch to cancel."}],"responses":{"200":{"description":"Batch is cancelling. Returns the cancelling batch\u0027s details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}}}},"x-oaiMeta":{"name":"Cancel batch","group":"batch","examples":{"request":{"curl":"curl https://api.openai.com/v1/batches/batch_abc123/cancel \\\n  -H \u0022Authorization: Bearer $OPENAI_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -X POST\n","python":"import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\u0022OPENAI_API_KEY\u0022),  # This is the default and can be omitted\n)\nbatch = client.batches.cancel(\n    \u0022batch_id\u0022,\n)\nprint(batch.id)","javascript":"import OpenAI from \u00
[...]
